<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Links</title>
</head>

<body>
  <h1>~LINKS</h1>
  <p>Login: <a href="/login">Login</a></p>
  <p>Signup: <a href="/signup">Sign-up</a></p>
</body>

</html>