<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Links:Sign Up</title>
</head>

<body>
    <h1>~SIGN-UP</h1>
    <h2>Sign-up for site</h2>
    <form action="" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Sign Up</button>
    </form>
</body>

</html>