<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Links:Upload</title>
</head>

<body>
  <h1>~UPLOAD</h1>
  <h2>Upload a file</h2>
  <form action="fileupload" method="post" enctype="multipart/form-data">
  <input type="file" name="filetoupload"><br>
  <input type="submit">
  </form>

</body>

</html>




